Repository fcostarodrigo/nuke: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint src --fix, jest --findRelatedTests

Add cli
  README.md
  package-lock.json
  package.json
  src/cli.js
Due: prettier --write, eslint src --fix, jest --findRelatedTests

2.1.0
  package-lock.json
  package.json
Due: prettier --write

Fix typo
  README.md
Due: prettier --write

Fix typo
  package.json
Due: prettier --write

2.1.1
  package-lock.json
  package.json
Due: prettier --write

Fix typo
  package-lock.json
Due: prettier --write

Fix linter warning
  src/cli.js
Due: eslint src --fix, jest --findRelatedTests

Update cli documentation
  README.md
Due: prettier --write

Remove dependency injection
  README.md
  src/nuke.int.test.js
  src/nuke.js
  src/nuke.unit.test.js
Due: prettier --write, eslint src --fix, jest --findRelatedTests

Add changelog
  CHANGELOG.md
  README.md
Due: prettier --write

3.0.0
  package-lock.json
  package.json
Due: prettier --write

Fix for macOS
  src/nuke.js
  src/nuke.unit.test.js
Due: eslint src --fix, jest --findRelatedTests

3.0.1
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{yaml,yml,json,md}
  eslint src --fix: any of: *.{js,jsx,mjs}
  jest --findRelatedTests: any of: *.{js,jsx,mjs}
